server:
  port: 8080

downstream:
  base-url: ${DOWNSTREAM_BASE_URL}

management:
  observations:
    key-values:
      application: ${spring.application.name}
  endpoints:
    web:
      exposure:
        include: prometheus

spring:
  application:
    name: observable-main