services:
  main:
    build:
      context: .
      dockerfile: observable-main/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - DOWNSTREAM_BASE_URL=http://downstream:8080

  downstream:
    build:
      context: .
      dockerfile: observable-downstream/Dockerfile
    ports:
      - "8081:8080"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--web.enable-lifecycle'
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    restart: always

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    restart: always