groups:
  - name: node_status_alerts
    rules:
      - alert: NodeDown
        expr: up == 0
        for: 0s
        labels:
          severity: critical
        annotations:
          summary: "服務已離線: {{ $labels.instance }}"
          description: "服務 {{ $labels.job }} 的實例 {{ $labels.instance }} 已斷線。"