global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: [ 'localhost:9090' ]
  - job_name: 'pushgateway'
    static_configs:
      - targets: [ 'pushgateway:9091' ]

  - job_name: 'main'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: [ 'main:8080' ]
        labels:
          service: 'main'

rule_files:
  - "alerts.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "alertmanager:9093"