server:
  port: 8080

management:
  observations:
    key-values:
      application: ${spring.application.name}
  endpoints:
    web:
      exposure:
        include: prometheus

spring:
  application:
    name: observable-main